.wrap {
  margin-bottom: 12px;
}

.label {
  display: block;
  margin: 0 8px 4px 0;
  text-align: left;
}
.input {
  appearance: none;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.error {
  display: block;
  text-align: left;
  color: red;
}
