.control-bar {
  background-color: #000;
  padding-top: 12px;
  opacity: 0.7;
}

.contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 8px;
}

.contents-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  height: 36px;
  margin-right: 12px;
}
