.video-container {
  position: relative;
  margin: 0 20px;
}

.video-container:hover .control-bar {
  transition-delay: 0s;
  opacity: 0.7;
  visibility: visible;
}

.video-control-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
